For this problem, the function for females is l<sub>x</sub> = 1000(1 - <sup>x</sup>/<sub>105</sub>) for 0 ≤ x ≤ 105, and the function for males is l<sub>x</sub> = 1000(1 - <sup>x</sup>/<sub>99</sub>) for 0 ≤ x ≤ 99. 

- Calculate the present value of an annual life annuity-due
- parameters for annual amount, current age (x) , gender (M/F), interest rate effective annual (i)
- first payment made at age x

In [21]:
# Shawdi Keshavarz
# summation from t = 0 to w-x (tPx)(v**t)
def prob1(p:int, x:int, gen:str, i:float):
    answer = 0
    den = 0
    if gen == "M":
        den=99
        # Shawdi Keshavarz
    elif gen == "F":
        den=105
        
    upper_limit=den-x
    v= 1/(1+i)
    
    summation = sum([( (1 - (element/upper_limit)) * (v**element) ) for element in range(0,upper_limit+1)])
    # Shawdi Keshavarz
    answer = round((p*summation),2)
    print(answer)
    
    
prob1(50000, 30, "F", .075)    # should be 589,821.03
prob1(50000, 30, "M", .075)    # should be 579,122.73
prob1(1000, 70, "M", .05)

589821.03
579122.73
10035.77

- create additional columns in the data file to calculate D<sub>x</sub>, N<sub>x+t</sub>, and PV under different interest rates
- x = current age     x+t = age at first annuity payment    x = x+t = currently receiving life annuity
- Present value calculated as of current age
- Create a column also for present value of future benifits using i = .05, .07, .08, .09, .10, .12
- Can leave D<sub>x</sub> and N<sub>x+t</sub> blank for employees receiving dual-life benifits but must calculate pv for dual life beneifts
- include totals row in data file that calculates the total PV under each interest rate

In [22]:
# Shawdi Keshavarz
import pandas as pd
import numpy as np
life_table = pd.read_csv('STAT470_Life_Table.csv')
life_table['lx'] = life_table['lx'].str.replace(' ', '')
life_table['lx'] = life_table['lx'].str.replace(',', '')
life_table['lx'] = life_table['lx'].astype(int)
# Shawdi Keshavarz
employee = pd.read_excel('STAT470_Employee_Data_1.xlsx')

life_table['Dx .05'] = life_table['Age'].apply(lambda x: ((1/1.05)**x)*(life_table.iloc[x,1]))
life_table['Dx .07'] = life_table['Age'].apply(lambda x: ((1/1.07)**x)*(life_table.iloc[x,1]))
life_table['Dx .08'] = life_table['Age'].apply(lambda x: ((1/1.08)**x)*(life_table.iloc[x,1]))
life_table['Dx .09'] = life_table['Age'].apply(lambda x: ((1/1.09)**x)*(life_table.iloc[x,1]))
# Shawdi Keshavarz
life_table['Dx .10'] = life_table['Age'].apply(lambda x: ((1/1.10)**x)*(life_table.iloc[x,1]))
life_table['Dx .12'] = life_table['Age'].apply(lambda x: ((1/1.12)**x)*(life_table.iloc[x,1]))



life_table

,Age,lx,dx,Dx .05,Dx .07,Dx .08,Dx .09,Dx .10,Dx .12
0,0,100000,723,100000.00,100000.00,100000.00,100000.00,100000.00,100000.00
1,1,99277,55,94549.52,92782.24,91923.15,91079.82,90251.82,88640.18
2,2,99223,36,89998.19,86665.21,85067.73,83514.01,82002.48,79099.97
3,3,99187,29,85681.46,80966.14,78737.84,76590.56,74520.66,70599.35
4,4,99158,23,81577.53,75647.16,72884.09,70246.03,67726.25,63016.70
...,...,...,...,...,...,...,...,...,...
96,96,5339,"1,281",49.35,8.07,3.30,1.36,0.57,0.10
97,97,4058,"1,041",35.72,5.73,2.32,0.95,0.39,0.07
98,98,3017,823,25.29,3.98,1.60,0.65,0.26,0.05
99,99,2193,634,17.51,2.70,1.08,0.43,0.18,0.03
100,100,1559,"1,559",11.86,1.80,0.71,0.28,0.11,0.02

- create additional columns in the data file to calculate D<sub>x</sub>, N<sub>x+t</sub>, and PV under different interest rates
- x = current age     x+t = age at first annuity payment    x = x+t = currently receiving life annuity
- Present value calculated as of current age
- Create a column also for present value of future benifits using i = .05, .07, .08, .09, .10, .12
- Can leave D<sub>x</sub> and N<sub>x+t</sub> blank for employees receiving dual-life benifits but must calculate pv for dual life beneifts
- include totals row in data file that calculates the total PV under each interest rate

In [23]:
# Shawdi Keshavarz
v_values = [1/1.05, 1/1.07, 1/1.08, 1/1.09, 1/1.10, 1/1.12]
# Dx's
employee['Dx - i=.05'] = employee['Current Age (x)'].apply(lambda x: round((life_table.iloc[x,3]),4))
employee['Dx - i=.07'] = employee['Current Age (x)'].apply(lambda x: round((life_table.iloc[x,3]),4))
employee['Dx - i=.08'] = employee['Current Age (x)'].apply(lambda x: round((life_table.iloc[x,3]),4))
# Shawdi Keshavarz
employee['Dx - i=.09'] = employee['Current Age (x)'].apply(lambda x: round((life_table.iloc[x,3]),4))
employee['Dx - i=.10'] = employee['Current Age (x)'].apply(lambda x: round((life_table.iloc[x,3]),4))
employee['Dx - i=.12'] = employee['Current Age (x)'].apply(lambda x: round((life_table.iloc[x,3]),4))


# Shawdi Keshavarz
# N(x+t)'s
employee['N(x+t) - i=.05'] = employee['Age at first annuity payment (x + t)'].apply(lambda x: round(((life_table['Dx .05'].iloc[x:101]).sum()),4))
employee['N(x+t) - i=.07'] = employee['Age at first annuity payment (x + t)'].apply(lambda x: round(((life_table['Dx .07'].iloc[x:101]).sum()),4))
employee['N(x+t) - i=.08'] = employee['Age at first annuity payment (x + t)'].apply(lambda x: round(((life_table['Dx .08'].iloc[x:101]).sum()),4))
# Shawdi Keshavarz
employee['N(x+t) - i=.09'] = employee['Age at first annuity payment (x + t)'].apply(lambda x: round(((life_table['Dx .09'].iloc[x:101]).sum()),4))
employee['N(x+t) - i=.10'] = employee['Age at first annuity payment (x + t)'].apply(lambda x: round(((life_table['Dx .10'].iloc[x:101]).sum()),4))
employee['N(x+t) - i=.12'] = employee['Age at first annuity payment (x + t)'].apply(lambda x: round(((life_table['Dx .12'].iloc[x:101]).sum()),4))


# Shawdi Keshavarz
pd.options.display.float_format = '{:.2f}'.format
# Pv's
employee['Pv - i=.05'] = round(((employee['Annual annuity payment'] * employee['N(x+t) - i=.05']) / employee['Dx - i=.05']),2)
employee['Pv - i=.07'] = round(((employee['Annual annuity payment'] * employee['N(x+t) - i=.07']) / employee['Dx - i=.07']),2)
employee['Pv - i=.08'] = round(((employee['Annual annuity payment'] * employee['N(x+t) - i=.08']) / employee['Dx - i=.08']),2)
# Shawdi Keshavarz
employee['Pv - i=.09'] = round(((employee['Annual annuity payment'] * employee['N(x+t) - i=.09']) / employee['Dx - i=.09']),2)
employee['Pv - i=.10'] = round(((employee['Annual annuity payment'] * employee['N(x+t) - i=.10']) / employee['Dx - i=.10']),2)
employee['Pv - i=.12'] = round(((employee['Annual annuity payment'] * employee['N(x+t) - i=.12']) / employee['Dx - i=.12']),2)

# Remove Pv's for dual life annuities
d={'Pv - i=.05':0, 'Pv - i=.07':0, 'Pv - i=.08':0, 'Pv - i=.09':0, 'Pv - i=.10':0, 'Pv - i=.12':0}
employee.loc[17,d.keys()] = d.values()
employee.loc[19,d.keys()] = d.values()


        
employee

,EEID,Status,Current Age (x),Age at first annuity payment (x + t),Dual-Life Flag,Dual-Life recipient current age,Annual annuity payment,Dx - i=.05,Dx - i=.07,Dx - i=.08,Dx - i=.09,Dx - i=.10,Dx - i=.12,N(x+t) - i=.05,N(x+t) - i=.07,N(x+t) - i=.08,N(x+t) - i=.09,N(x+t) - i=.10,N(x+t) - i=.12,Pv - i=.05,Pv - i=.07,Pv - i=.08,Pv - i=.09,Pv - i=.10,Pv - i=.12
0,1,Active,28,70,N,NaN,19500,24943.06,24943.06,24943.06,24943.06,24943.06,24943.06,24319.58,5727.80,2819.68,1400.69,701.90,180.71,19012.57,4477.88,2204.37,1095.03,548.73,141.27
1,2,Active,27,70,N,NaN,15000,26216.46,26216.46,26216.46,26216.46,26216.46,26216.46,24319.58,5727.80,2819.68,1400.69,701.90,180.71,13914.68,3277.21,1613.31,801.42,401.60,103.39
2,3,Active,38,68,N,NaN,22800,15112.73,15112.73,15112.73,15112.73,15112.73,15112.73,29721.83,7211.74,3604.51,1818.22,925.31,245.77,44840.20,10880.07,5437.98,2743.08,1395.98,370.78
3,4,Active,41,67,N,NaN,24600,12979.86,12979.86,12979.86,12979.86,12979.86,12979.86,32715.99,8057.49,4058.00,2062.78,1057.94,285.43,62004.77,15270.91,7690.89,3909.47,2005.06,540.96
4,5,Active,34,68,N,NaN,20400,18482.69,18482.69,18482.69,18482.69,18482.69,18482.69,29721.83,7211.74,3604.51,1818.22,925.31,245.77,32805.04,7959.85,3978.42,2006.83,1021.30,271.27
5,6,Active,53,65,N,NaN,31800,6928.77,6928.77,6928.77,6928.77,6928.77,6928.77,39336.65,9981.99,5104.61,2635.19,1372.74,382.19,180538.00,45812.96,23427.94,12094.36,6300.28,1754.10
6,7,Active,39,68,N,NaN,23400,14367.42,14367.42,14367.42,14367.42,14367.42,14367.42,29721.83,7211.74,3604.51,1818.22,925.31,245.77,48407.49,11745.65,5870.61,2961.31,1507.04,400.28
7,8,Active,51,65,N,NaN,30600,7716.45,7716.45,7716.45,7716.45,7716.45,7716.45,39336.65,9981.99,5104.61,2635.19,1372.74,382.19,155991.60,39584.11,20242.62,10449.98,5443.67,1515.60
8,9,Active,44,67,N,NaN,26400,11132.21,11132.21,11132.21,11132.21,11132.21,11132.21,32715.99,8057.49,4058.00,2062.78,1057.94,285.43,77585.87,19108.32,9623.52,4891.87,2508.91,676.90
9,10,Active,30,68,N,NaN,18000,22576.42,22576.42,22576.42,22576.42,22576.42,22576.42,29721.83,7211.74,3604.51,1818.22,925.31,245.77,23696.98,5749.86,2873.84,1449.65,737.74,195.95
10,11,Active,46,67,N,NaN,27600,10038.95,10038.95,10038.95,10038.95,10038.95,10038.95,32715.99,8057.49,4058.00,2062.78,1057.94,285.43,89945.85,22152.41,11156.62,5671.18,2908.60,784.73
11,12,Active,34,68,N,NaN,20400,18482.69,18482.69,18482.69,18482.69,18482.69,18482.69,29721.83,7211.74,3604.51,1818.22,925.31,245.77,32805.04,7959.85,3978.42,2006.83,1021.30,271.27
12,13,Active,40,67,N,NaN,24000,13656.98,13656.98,13656.98,13656.98,13656.98,13656.98,32715.99,8057.49,4058.00,2062.78,1057.94,285.43,57493.22,14159.78,7131.29,3625.01,1859.17,501.60
13,14,Active,51,65,N,NaN,30600,7716.45,7716.45,7716.45,7716.45,7716.45,7716.45,39336.65,9981.99,5104.61,2635.19,1372.74,382.19,155991.60,39584.11,20242.62,10449.98,5443.67,1515.60
14,15,Active,43,67,N,NaN,25800,11719.01,11719.01,11719.01,11719.01,11719.01,11719.01,32715.99,8057.49,4058.00,2062.78,1057.94,285.43,72025.96,17738.99,8933.89,4541.32,2329.12,628.39
15,16,Retiree,62,62,N,NaN,60450,4134.06,4134.06,4134.06,4134.06,4134.06,4134.06,51002.79,13538.86,7085.15,3744.02,1996.86,583.05,745784.89,197971.13,103602.07,54746.61,29198.99,8525.61
16,17,Retiree,64,64,N,NaN,74800,3646.92,3646.92,3646.92,3646.92,3646.92,3646.92,42983.56,11072.12,5705.68,2968.42,1558.48,440.82,881613.68,227094.53,117026.20,60883.71,31965.21,9041.39
17,18,Retiree,68,68,Y,62.00,120570,2796.03,2796.03,2796.03,2796.03,2796.03,2796.03,29721.83,7211.74,3604.51,1818.22,925.31,245.77,0.00,0.00,0.00,0.00,0.00,0.00
18,19,Retiree,70,70,N,NaN,63540,2424.11,2424.11,2424.11,2424.11,2424.11,2424.11,24319.58,5727.80,2819.68,1400.69,701.90,180.71,637457.00,150135.19,73908.61,36714.44,18397.88,4736.68
19,20,Retiree,75,75,Y,70.00,115750,1626.52,1626.52,1626.52,1626.52,1626.52,1626.52,13869.83,3032.93,1437.78,687.57,331.60,79.04,0.00,0.00,0.00,0.00,0.00,0.00

In [24]:
# summations start at 0 because present value at current age
# Shawdi Keshavarz
for v in v_values:
    summation = 0
    tP68=0
    tP62 = 0
    # Shawdi Keshavarz
    age=68
    while age <= 100:
        tP68 = (life_table.iloc[age,1]/life_table.iloc[68,1])
        tP62 = (life_table.iloc[age-6,1]/life_table.iloc[62,1])
            # Shawdi Keshavarz
        vt = v**(age-68)
        mul=tP68*tP62*vt
        summation += mul
        age+=1
        
    summation = summation*120570
    
    if v == 1/1.05:
        employee.at[17,'Pv - i=.05']= summation
    elif  v == 1/1.07:
        employee.at[17,'Pv - i=.07']= summation
    elif v == 1/1.08:
        employee.at[17,'Pv - i=.08']= summation
# Shawdi Keshavarz
    elif v == 1/1.09:
        employee.at[17,'Pv - i=.09']= summation
    elif v == 1/1.10:
        employee.at[17,'Pv - i=.10']= summation
    elif v == 1/1.12:
        employee.at[17,'Pv - i=.12']= summation
    

# Shawdi Keshavarz
for v in v_values:
    summation = 0
    tP75=0
    tP70 = 0
    # Shawdi Keshavarz
    age=75
    while age <= 100:
        tP75 = (life_table.iloc[age,1]/life_table.iloc[75,1])
        # Shawdi Keshavarz
        tP70 = (life_table.iloc[age-5,1]/life_table.iloc[70,1])
        vt = v**(age-75)
        mul=tP75*tP70*vt
        summation += mul
        # Shawdi Keshavarz
        age+=1
        
    summation = summation * 115750
    
    if v == 1/1.05:
        employee.at[19,'Pv - i=.05']= summation
    elif  v == 1/1.07:
        employee.at[19,'Pv - i=.07']= summation
    elif v == 1/1.08:
        employee.at[19,'Pv - i=.08']= summation
# Shawdi Keshavarz
    elif v == 1/1.09:
        employee.at[19,'Pv - i=.09']= summation
    elif v == 1/1.10:
        employee.at[19,'Pv - i=.10']= summation
    elif v == 1/1.12:
        employee.at[19,'Pv - i=.12']= summation
    
    
    
    
    
# Shawdi Keshavarz
sum_row = employee.sum(axis=0)
sum_row[0:7] = np.nan
employee.loc[len(employee.index)] = sum_row
        # Shawdi Keshavarz
employee = employee.rename(index={20:"SUMS"})
pd.set_option('display.max_columns', 500)
employee

,EEID,Status,Current Age (x),Age at first annuity payment (x + t),Dual-Life Flag,Dual-Life recipient current age,Annual annuity payment,Dx - i=.05,Dx - i=.07,Dx - i=.08,Dx - i=.09,Dx - i=.10,Dx - i=.12,N(x+t) - i=.05,N(x+t) - i=.07,N(x+t) - i=.08,N(x+t) - i=.09,N(x+t) - i=.10,N(x+t) - i=.12,Pv - i=.05,Pv - i=.07,Pv - i=.08,Pv - i=.09,Pv - i=.10,Pv - i=.12
0,1.00,Active,28.00,70.00,N,NaN,19500.00,24943.06,24943.06,24943.06,24943.06,24943.06,24943.06,24319.58,5727.80,2819.68,1400.69,701.90,180.71,19012.57,4477.88,2204.37,1095.03,548.73,141.27
1,2.00,Active,27.00,70.00,N,NaN,15000.00,26216.46,26216.46,26216.46,26216.46,26216.46,26216.46,24319.58,5727.80,2819.68,1400.69,701.90,180.71,13914.68,3277.21,1613.31,801.42,401.60,103.39
2,3.00,Active,38.00,68.00,N,NaN,22800.00,15112.73,15112.73,15112.73,15112.73,15112.73,15112.73,29721.83,7211.74,3604.51,1818.22,925.31,245.77,44840.20,10880.07,5437.98,2743.08,1395.98,370.78
3,4.00,Active,41.00,67.00,N,NaN,24600.00,12979.86,12979.86,12979.86,12979.86,12979.86,12979.86,32715.99,8057.49,4058.00,2062.78,1057.94,285.43,62004.77,15270.91,7690.89,3909.47,2005.06,540.96
4,5.00,Active,34.00,68.00,N,NaN,20400.00,18482.69,18482.69,18482.69,18482.69,18482.69,18482.69,29721.83,7211.74,3604.51,1818.22,925.31,245.77,32805.04,7959.85,3978.42,2006.83,1021.30,271.27
5,6.00,Active,53.00,65.00,N,NaN,31800.00,6928.77,6928.77,6928.77,6928.77,6928.77,6928.77,39336.65,9981.99,5104.61,2635.19,1372.74,382.19,180538.00,45812.96,23427.94,12094.36,6300.28,1754.10
6,7.00,Active,39.00,68.00,N,NaN,23400.00,14367.42,14367.42,14367.42,14367.42,14367.42,14367.42,29721.83,7211.74,3604.51,1818.22,925.31,245.77,48407.49,11745.65,5870.61,2961.31,1507.04,400.28
7,8.00,Active,51.00,65.00,N,NaN,30600.00,7716.45,7716.45,7716.45,7716.45,7716.45,7716.45,39336.65,9981.99,5104.61,2635.19,1372.74,382.19,155991.60,39584.11,20242.62,10449.98,5443.67,1515.60
8,9.00,Active,44.00,67.00,N,NaN,26400.00,11132.21,11132.21,11132.21,11132.21,11132.21,11132.21,32715.99,8057.49,4058.00,2062.78,1057.94,285.43,77585.87,19108.32,9623.52,4891.87,2508.91,676.90
9,10.00,Active,30.00,68.00,N,NaN,18000.00,22576.42,22576.42,22576.42,22576.42,22576.42,22576.42,29721.83,7211.74,3604.51,1818.22,925.31,245.77,23696.98,5749.86,2873.84,1449.65,737.74,195.95
10,11.00,Active,46.00,67.00,N,NaN,27600.00,10038.95,10038.95,10038.95,10038.95,10038.95,10038.95,32715.99,8057.49,4058.00,2062.78,1057.94,285.43,89945.85,22152.41,11156.62,5671.18,2908.60,784.73
11,12.00,Active,34.00,68.00,N,NaN,20400.00,18482.69,18482.69,18482.69,18482.69,18482.69,18482.69,29721.83,7211.74,3604.51,1818.22,925.31,245.77,32805.04,7959.85,3978.42,2006.83,1021.30,271.27
12,13.00,Active,40.00,67.00,N,NaN,24000.00,13656.98,13656.98,13656.98,13656.98,13656.98,13656.98,32715.99,8057.49,4058.00,2062.78,1057.94,285.43,57493.22,14159.78,7131.29,3625.01,1859.17,501.60
13,14.00,Active,51.00,65.00,N,NaN,30600.00,7716.45,7716.45,7716.45,7716.45,7716.45,7716.45,39336.65,9981.99,5104.61,2635.19,1372.74,382.19,155991.60,39584.11,20242.62,10449.98,5443.67,1515.60
14,15.00,Active,43.00,67.00,N,NaN,25800.00,11719.01,11719.01,11719.01,11719.01,11719.01,11719.01,32715.99,8057.49,4058.00,2062.78,1057.94,285.43,72025.96,17738.99,8933.89,4541.32,2329.12,628.39
15,16.00,Retiree,62.00,62.00,N,NaN,60450.00,4134.06,4134.06,4134.06,4134.06,4134.06,4134.06,51002.79,13538.86,7085.15,3744.02,1996.86,583.05,745784.89,197971.13,103602.07,54746.61,29198.99,8525.61
16,17.00,Retiree,64.00,64.00,N,NaN,74800.00,3646.92,3646.92,3646.92,3646.92,3646.92,3646.92,42983.56,11072.12,5705.68,2968.42,1558.48,440.82,881613.68,227094.53,117026.20,60883.71,31965.21,9041.39
17,18.00,Retiree,68.00,68.00,Y,62.00,120570.00,2796.03,2796.03,2796.03,2796.03,2796.03,2796.03,29721.83,7211.74,3604.51,1818.22,925.31,245.77,1094862.43,977303.31,927368.12,882307.56,841502.47,770632.04
18,19.00,Retiree,70.00,70.00,N,NaN,63540.00,2424.11,2424.11,2424.11,2424.11,2424.11,2424.11,24319.58,5727.80,2819.68,1400.69,701.90,180.71,637457.00,150135.19,73908.61,36714.44,18397.88,4736.68
19,20.00,Retiree,75.00,75.00,Y,70.00,115750.00,1626.52,1626.52,1626.52,1626.52,1626.52,1626.52,13869.83,3032.93,1437.78,687.57,331.60,79.04,803564.94,737835.84,708965.54,682379.40,657838.73,614084.47
SUMS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,236697.78,236697.78,236697.78,236697.78,236697.78,236697.78,640735.83,158331.17,79918.52,40730.86,20952.45,5693.38,5230341.81,2555801.96,2065276.88,1785729.04,1614335.45,1416692.28